*{margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kucchi';
}
body{
    background-color: greenyellow;
}

.desktop{
   
   
    min-height: 100vh;
    display: flex;
}
.mobile{
    
    height: 50vh;
}

.imagediv{
    
    float: left;
    margin-left:18.5%;
    
    
    max-width: 29%;
    
}
.desktop_img
{
    height: 46%;
    width: 100%;
    margin-top: 37%;
    


}
.mobile_img{
    height: 200px;
    width: 250px;
}

.textdiv{
    
    float: right;
    margin-top: 15%;
    text-align: left;
    margin-left: 50px;
}
.boldclass{
    font-size: larger;
}
.boldclassmobile{
    font-size: large;
}
.lightclass{
    font-size: medium;
    color: gray;
}
svg.iconsclass{
    margin-left: 12px;
    
}
svg{
    cursor: pointer;
}
pre{
text-align: left;
    white-space: pre-line;
}