*{margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kucchi';
}
body{
    background-color: greenyellow;
}

.desktop{
   
   
    min-height: 100vh;
    display: flex;
}
.mobile{
    display:block;
    height: 90vh;
}

.imagediv{
    
    float: left;
    margin-left:12.5%;
    margin-top: 100px;
    
    max-width: 30%;
    
}
.desktop_img
{
    height: 63.5%;
    width: 100%;
    


}
.mobile_img{
    height: 300px;
    width: 300px;
}
.imagediv{
    float: left;
    
}
.textdiv{
    
    float: right;
    margin-top: 225px;
    text-align: center;
}
.boldclass{
    font-size: larger;
}
.lightclass{
    font-size: medium;
    color: gray;
}
svg{
    margin-left: 10px;
    cursor: pointer;
}